header {
  /* height: 3em; */
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
}

.form-header,
form,
tr {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 150px;
  gap: 10px;
}

#expense_amount-label {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

#expense_amount-label::after {
  content: "$";
  position: absolute;
  left: 5px;
  z-index: 100;
}

input.expense_amount{
  padding-left: 13px;
}

.input-required {
  font-weight: bold;
  color: red;
}

table {
  margin-top: 3em;
}

tr {
  grid-template-columns: 20px repeat(3, 1fr) 150px;
  text-align: left;
  margin-left: -30px;
}

.form-header p {
  margin-right: 1em;
  margin-bottom: 0;
}

.form-buttons {
  grid-column: 4;
}
